
html {
  box-sizing: border-box;
}
html, body{
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  line-height: 1.3;
  letter-spacing: 1.5px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#app {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin: 15px;
}

.NavBar {
  height: 60px;
  padding: 14px 0px;
  border-radius: 20px 20px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Margin {
    margin: 0px 30px;
    .ant-avatar-image {
      margin-left: 10px
    }
  }
}

.DataContainer {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: flex-start;
  .Listas {
    border-radius: 0 0 0 10px;
    width: 25%;
    position: relative;
    height: 100%;
    max-width: 350px;
    background-color: #FAFAFA;
    .ant-menu {
      width: 100%;
      background-color: #FAFAFA;
      .ant-menu-item {
        border-radius: 10px;
      }
    }
    .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
      border-right: none;
    }
    .NewList {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 8px;
      padding: 0 16px;
      align-items: center;
    }
  }
  .Tareas {
    width: -webkit-fill-available;
    height: calc(100% - 90px);
    .TareasContainer {
      display: flex;
      justify-content: space-evenly;
      height: -webkit-fill-available;
      .RowTask {
        width: calc(100% / 3 - 40px);
        margin: 10px;
        background-color: #FAFAFA;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        }
        .ant-page-header {
          height: 20%;
        }
        .TaskScroll {
          overflow-y: auto;
          height: 80%;
          ::-webkit-scrollbar-track {
            height: 80%;
            background: white; 
            box-shadow: none; 
            border-radius: 10px;
          }
          .ant-btn-link {
            width: 100%;
            display: flex;
            justify-content: end;
            color: #e91e63;
          }
        }
      }
      .ant-card {
        width: 95%;
        margin: 10px auto;
      }
      .ant-card-bordered {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        }
      }
      .ant-card-body p {
        margin-bottom: 0px;
      }
      .anticon .anticon-calendar,
      .ant-picker-input input{
        color: #66bb6a;
      }
      .HeaderAddContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .ant-result {
      height: calc(100% - 90px);
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
  }
}

@media only screen and (max-width: 992px) {
  .Listas {
    width: 100% !important;
    max-width: none !important;
    border-radius: 0 0 20px 20px !important;
    ul {
      border-radius: 0 0 20px 20px !important;
      li {
        margin: 20px 0 !important;
      }
    }
  }
  .Tareas {
    width: 100% !important;
    .TareasContainer {
      flex-flow: column;
      .RowTask {
        height: 30% !important;
        width: calc(100% - 40px) !important;
      }
    }
  }
  #app {
    height: auto !important;
  }
  html, body{
    overflow-y: auto !important;
    font-size: 20px !important;
  }
  span {
    font-size: 20px !important;
  }
  input {
    font-size: 20px !important;
  }
  .ant-page-header-heading-title {
    font-size: 25px !important;
  }
}